.hero {
  padding: 66px 0;
  background-color: #3d332a;
  color: white;
  font-family: Open Sans, sans-serif;
}
.hero__wrapper {
  display: flex;
  gap: 16px;
}
.hero__text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 50px;
}
.hero__text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}
.hero .title_h1 {
  font-family: Open Sans, sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
}
.hero__map {
  flex-shrink: 0;
}
.hero__map svg {
  max-inline-size: 100%;
}
