.canvas path[data-country-id] {
    transition: fill 0.2s;
}
.canvas path[data-country-id], .canvas circle[data-marker-border-id],  .canvas circle[data-marker-id] {
    cursor: pointer;
}
.canvas-wrapper {
    line-height: 0;
    position: relative;
}